{{ partial "header.html" . }}
    <section class="blog" id="blog">
        <div class="container">
            <div class="row center-xs">
                <div class="col-xs-12"><h1>{{ humanize .Type }}</h1></div>
            </div>
            <div class="row">
                <div class="col-xs-12 posts-list">
                    {{ range .Data.Pages }}
                        <article>
                            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                            <div class=sub-header>
                              <div class="date" title='{{ .Date.Format "Mon Jan 2 2006 15:04:05 MST" }}'>{{ .Date.Format "Jan 2, 2006" }} · {{ .ReadingTime }} minute read </div>
                            </div>
                        </article>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
{{ partial "footer.html" . }}
