{{ partial "header.html" . }}

    <section class="container">
        <section class="content">
            <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

            <div class="sub-header">
              <div class="date" title='{{ .Date.Format "Mon Jan 2 2006 15:04:05 MST" }}'>{{ .Date.Format "Jan 2, 2006" }} · {{ .ReadingTime }} minute read </div>
            </div>

            <article class="entry-content">
                {{ .Content }}
              <div class="col-xs-12"><img src="{{ .Site.Params.logoBig}}" alt="{{ .Site.Title }}"></div>
            </article>

            <div class="pagination">
                {{ if .PrevInSection }}
                    <a href="{{ .PrevInSection.Permalink }}">&laquo; {{ .PrevInSection.Title }}</a>
                {{ end }}
                {{ if .NextInSection }}
                    <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;</a>
                {{ end }}
            </div>
        </section>
        <br>
        {{ partial "disqus" . }}
    </section>
{{ partial "footer.html" . }}
